@charset "UTF-8";
th{
	background-color: lightblue;
	opacity: 0.8;
	text-align: center;
	padding: 10px;
}

td{
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	text-align: center;
}

input{
	width: 90%;
}

.oikealle{
text-align: right;
}
#uusiAsiakas, #takaisin{
	color: dakrblue;
	cursor: pointer;
}
.poista{
	color: red;
	cursor: pointer;
}
#tallenna{
	text-align:center;
	
}

